*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-family: 'Arvo', serif;
    /* font-family: 'Josefin Slab', serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-style: italic; */
    letter-spacing: 2px;
}

.display-none{
    display: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

body{
    /* background-color: #EAD196; */
    /* background-color: #EEE7DA; */
    /* background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
    background-color: #d1d0d4;
}

.no-link a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    list-style: none;
}
.display-block{
    display: block;
}
/* ========================= 
        HEADER 
========================= */
.header{
    /* border-bottom: solid 1px; */
    /* background-color: #cc7e4266; */
    
    /* background-color: #092635b3; */
    width: 100%;
    /* background-image: radial-gradient( rgb(215, 222, 247) 5%, rgb(123, 161, 106) 100%);*/
    background-color: white;
}
/* title y logo */
.header .title-secction{
    padding: 10px 0;
    padding-bottom: 1px 0px;
    display: block;
    /* opacity: 0.60; */
}
.header .title-secction .logo-and-title{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.header .title-secction .logo-and-title .title{
    padding-top: 1%;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 4.5em;
    display: inline;
    letter-spacing: 10px;
}
.header .title-secction .logo-and-title .logo-img{
    max-height: 80px;
    opacity: 0.8;
    border-radius: 30%;
    display: inline;
}


        /* CARRITO HEAD  */

.header .title-secction .carrito-section-head{
    float: right;
    margin: 50px 10px 0 0;
    gap: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;


}
.header .title-secction .carrito-head{
    max-height: 30px;
}
.header .title-secction .carrito-h{
    display: inline;
    /* color: white; */
    font-size: 1.2em;

}

 /* COMPRAS  */
.header .title-secction .carro-all-coonten{
    position: relative;

}

.header .title-secction .carro-all-coonten .section-vinos-head .cantidad-contein-head{
    max-height: 270px;
    padding: 7px 10px;
    border: outset 1px white;
    width: 450px;
    font-weight: 600;
    color: rgb(95, 35, 35);
}

.header .title-secction .carro-all-coonten .section-vinos-head{
    position: absolute;
    float: left;
    right: 1px;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    /* background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */
    background-color: rgba(195, 195, 195, 0.95);

}

.header .title-secction .carro-all-coonten .section-vinos-head .card-contein{
    min-height: 300px;
    padding: 7px 5px;
    border: outset 4px white;
    width: 450px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .img-card{
    height: 150px;
    max-height: 150px;
    width: auto;
    float: left;
}


.header .title-secction .carro-all-coonten .section-vinos-head .texts-content-card-shop{
    padding: 10px 0px;
    font-size: .9em;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .title-card{
    font-size: 1em;
    border-bottom: solid 1px;
    padding: 5px 0px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel{
    margin-top: 8px;
    font-weight: 600;
} 
.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel span{
    display: inline;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar{
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    color: #660404;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar:hover{
    background-color: white;
    padding: 10px 0;
    margin: 0 10%;
}

/* total $  */
.header .title-secction .carro-all-coonten .section-vinos-head .total-precio-contein-head{
    max-height: 270px;
    padding: 7px 10px;
    border: outset 1px white;
    width: 450px;
    font-weight: 600;
    color: rgb(64, 58, 58);
}


/* .header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar div{
    align-self: end;
} */

/* .header .title-secction .carro-all-coonten .section-vinos-head .img-card,
.header .title-secction .carro-all-coonten .section-vinos-head #carroHeadShow .img-card {
    height: 150px !important;
    max-height: 150px !important;
    width: auto !important;
} */

/* 
.header .title-secction .carro-all-coonten .section-vinos-head .title-vineria{
    font-size: 0.8em;
}
.header .title-secction .carro-all-coonten .section-vinos-head .card-from{
    font-size: 0.8em;
}
.header .title-secction .carro-all-coonten .section-vinos-head .card-point{
    font-size: 0.8em;
}
*/


/* nav */
.header .list-main{
    font-size: 1.5em;
    list-style: none;
    display: flex;
    justify-content: space-around;

    /* background-color: #C69774 */
    /* background-color: #AFC8AD; */
    /*  */
    /* background: rgba(160, 187, 158, 0.5); */
    /* background: linear-gradient(180deg, rgba(160,187,158,1) 30%, rgba(212,219,207,1) 70%, rgba(238,231,218,1) 100%); */
    /*  */
    /* background: rgb(198,151,116, 1);
    background: linear-gradient(180deg, rgb(247, 209, 180) 10%, rgba(203,167,89,1) 60%, rgba(234,209,150,1) 100%); */

    /* background-image: linear-gradient(to bottom, rgb(168, 202, 186) 0%, rgb(204, 232, 229) 100%); */

    /* A4B4D4 */

    background-color: #A4B4D4;

}

.header .list-main li{
    flex: 1;
    text-align: center;
    padding: 1% 0;
}

.header .list-main li:hover{
    font-weight: 550;
    /* background: rgb(160,187,158); */
    /* background: #c69774; */
    /* background: rgba(203, 167, 89, 0.3); */
    background-color: #92a9d5

    
}
.header .ul a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}


/* ========================= 
        CONTENIDO 
========================= */
.contein-all{
    margin: 0 auto;
    width: 95vw;
}


/* =========================
        INDEX
========================= */
.index-contein{
    margin-bottom: 15px;
}

/* slider */
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;

}
.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    list-style: none;
    max-height: 300px;
    width: 100%;
}
.slider img {
    height: 100%;
    width: 100%;  
    object-fit: cover;
    object-position: 0% 50%;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    
    80% {margin-left: -200%;}
    100% {margin-left: -200%;}

}

/*3 Icons*/
.contein-all .tres-icons{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.8em;
}
.contein-all .tres-icons hr{
    border-color: black;
}
.contein-all .tres-icons img{
    margin-top: 1px;
    max-width: 50px;
}
.contein-all .tres-icons li{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* index-shop btn CENTRO*/
.index-shop .btn-shop-index{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.index-shop .btn-shop-index a{
    display: inline;
    border: solid 2px;
    border-radius: 10%;
    padding: 10px;
}

/* index-shop CARRUSEL */
.index-shop .carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 500px;
}

/* carrucel btn */
.index-shop .carrucel-btn-img{
    font-size: 4em;
    font-weight: 500;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.index-shop .carrucel-left{
    /* float: left; */
    position: relative;
    bottom: 300px;
}
.index-shop .carrucel-right{
    position: relative;
    bottom: 300px;
    float: right;
}

.index-shop .carrucel-btn-img:hover {
    background-color: #333333ab;
}



/* .index-shop .carrucel-btn-img{
    display: flex;
    position: absolute;
    top: 110%;
    border-radius: 60%;
    cursor: pointer;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    max-width: 35px;
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.index-shop .carrucel-btn-img:hover {
    background-color: #333333ab;
}
.index-shop .carrucel-right{
    right: 10px;
}
.index-shop .carrucel-left{
    left: 10px;
} */
/* carrucel cards */
.index-shop .carrusel .card-contein{
    align-self: center;
    width: 300px;
    flex: 1 0 auto;
}
.index-shop .carrusel .card-contein:hover{
    transform: scale(1.1);
}
.index-shop .carrusel .card-contein *{
    margin: 5px 0px;
}
.index-shop .carrusel .card-from,
.index-shop .carrusel .card-point{
    display: none;
}
.index-shop .carrusel .precio-contein-carrucel{
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.index-shop .carrusel .precio-contein-carrucel span{
    display: inline;
}


.index-shop .carrusel .carrucel-carro-contein{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.index-shop .carrusel .carrucel-carro-contein:hover::after{
    content: "Añadir al carrito";
    margin-left: 10px;
}

.index-shop .carrucel-carro-contein:hover{
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}
.index-shop .carrucel-carro-contein .carro-carrucel-img{
    max-width: 30px;
}


/* LOADING  */
.index-shop .loadin{
    text-align: center;
    margin-top: 3%;
}
.index-shop .loadin-obj{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

/*========================= 
        FOOTER 
================================*/
.footer{
    height: 20%;
    /* background-color: #C69774; */
    /* background-image: linear-gradient(to bottom, rgb(168, 202, 186) 0%, rgb(122, 163, 159) 100%); */
    /* 758296 */
    background-image: linear-gradient(to bottom, #b1b9c7 0%, #67768b 100%);

}

.footer .footer-contein{
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer-left a {
    padding: 5px 1px;
    font-size: 1.2em;
}



.footer .footer-right {
    align-self: end;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

.footer .footer-right .fa{
    max-width: 30px;
    max-height: 30px;
}

.footer .derechos{
    margin-top: 15px;
}



/* ========================= 
        TEMPLATE 
=========================*/
.card-contein{
    text-align: center;
}
.img-card{
    max-height: 300px;
    min-height: 250px;
}



/* ========================= 
        SHOP 
=========================*/
/* NAV VINOS */
.contein-shop .slider-shop {
    /* background-color: #e8d3ad; */
    box-shadow: 0 0 10px black;
    margin: 30px 0;
    font-style: italic;
    /* background: rgb(234,209,150);
    background: linear-gradient(90deg, rgba(234, 209, 150, 0.868) 5%, rgba(191,148,67,0.989233193277311) 50%, rgba(234,209,150,1) 95%); */
    /* background-image: linear-gradient(to right, rgba(148, 186, 168, 0.5) 0%, rgba(159, 124, 209, 0.4) 100%); */
    /*  */
    /* background-color: #8EC5FC; */
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, rgb(195, 252, 209) 100%); */
    background-color: whitesmoke;
    background-image: linear-gradient(90deg, whitesmoke 0%, rgb(229, 220, 220) 100%);


}
.contein-shop .slider-shop .list-wins{
    /* padding: 10px; */
    /* background-color: #C69774; */
    border-radius: 30%;
    list-style: none;
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;

    }

.contein-shop .slider-shop .list-wins li{
    padding: 20px 0;
    flex: 1;
    text-align: center;
    align-self: stretch;
}

.contein-shop .slider-shop .list-wins li:hover{
    background: rgba(148, 186, 168, 0.5);
    box-shadow: 1px 1px 5px black inset;
}

.contein-shop .slider-shop .list-wins a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
/* LOADING  */
.contein-shop .slider-shop .loadin{
    text-align: center;
    margin-top: 10%;
}
.contein-shop .slider-shop .loadin-obj{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}
@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Contein API */
.contein-shop .slider-shop .contein-primary{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1em;
    row-gap: 2em;
    padding: 10px 15px;
}

/* cards */
.contein-shop .contein-primary .card-contein{
    align-self: center;
    max-width: 300px;
    flex: 1 0 auto;
}
.contein-shop .contein-primary .card-contein:hover{
    transform: scale(1.1);
}
.contein-shop .contein-primary .card-contein *{
    margin: 5px 0px;
}
.contein-shop .contein-primary .card-from,
.contein-shop .contein-primary .card-point{
    display: none;
}
.contein-shop .contein-primary .precio-contein-carrucel{
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.contein-shop .contein-primary .precio-contein-carrucel span{
    display: inline;
}


.contein-shop .contein-primary .carrucel-carro-contein{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contein-shop .contein-primary .carrucel-carro-contein:hover::after{
    content: "Añadir al carrito";
    margin-left: 10px;
}

.contein-shop .contein-primary .carrucel-carro-contein:hover{
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}
.contein-shop .contein-primary .carrucel-carro-contein .carro-carrucel-img{
    max-width: 30px;
}




/* ========================= 
        CONTACTO 
=========================*/


.container-contact {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px 10px;
    margin: 5% 20%;
    box-shadow: 0 0 10px rgb(138, 137, 137);
    }
    
    .container-contact .columna {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
    }
    
    .container-contact .row-contein:after {
    content: "";
    display: table;
    clear: both;
    }
    
    .container-contact .row-contein .contact-map{
        max-width: 100%;
    }
    
    input,
    select,
    textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 5px;
    }
    
    input[type="submit"] {
    background-color: #04aa6d;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    }
    
    input[type="submit"]:hover {
    background-color: #45a049;
    color: whitesmoke;
    }
    
    label {
    font-weight: bold;
    }
    
    .icon-contact {
    text-align: center;
    padding: 60px 0;
    }
    
    .icon-contact .fa{
        margin: 10px;
        max-width: 40px;
        max-height: 40px;
    }
    
    .contact-title {
    background-image: linear-gradient(
        to right,
        #04aa6d,
        whitesmoke 35%,
        whitesmoke 65%,
        #04aa6d
    );
    
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 cen;
    }
    
    
    @media only screen and (max-width: 600px) {
    .column {
        width: 100%;
        margin-top: 0;
    }
    
    .container {
        margin: 5%;
    }
    
    .icon {
        border-bottom: 2px dotted #04aa6d;
    }
    }
    