*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    font-family: 'Josefin Slab', serif;
}

.display-none{
    display: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

body{
    background-color: #EAD196;
}

.no-link a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    list-style: none;
}
.display-block{
    display: block;
}
/* ========================= 
        HEADER 
========================= */
.header{
    border-bottom: solid 1px;
    background-color: rgba(204, 126, 66, 0.4);
    width: 100%;
}
/* title y logo */
.header .title-secction{
    padding: 10px 0;
    padding-bottom: 1px 0px;
    display: block;
}
.header .title-secction .logo-and-title{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.header .title-secction .logo-and-title .title{
    padding-top: 1%;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 4.5em;
    display: inline;
}
.header .title-secction .logo-and-title .logo-img{
    max-height: 80px;
    opacity: 0.8;
    border-radius: 30%;
    display: inline;
}


        /* CARRITO HEAD  */

.header .title-secction .carrito-section-head{
    float: right;
    margin: 50px 10px 0 0;
    font-size: 1.3em;
    gap: 10px;
    cursor: pointer;
}
.header .title-secction .carrito-head{
    max-height: 30px;
}
.header .title-secction .carrito-h{
    display: inline;
}

 /* COMPRAS  */
.header .title-secction .carro-all-coonten{
    position: relative;
}

.header .title-secction .carro-all-coonten .section-vinos-head .cantidad-contein-head{
    max-height: 270px;
    padding: 7px 10px;
    border: outset 1px white;
    width: 450px;
    font-weight: 600;
    color: rgb(95, 35, 35);
}

.header .title-secction .carro-all-coonten .section-vinos-head{
    position: absolute;
    float: left;
    right: 1px;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(228, 219, 198, 0.9);
}

/* .header .title-secction .carro-all-coonten {
    display: flex;
    position: relative;
}

.header .title-secction .carro-all-coonten .section-vinos-head {
    flex: 1;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(228, 219, 198, 0.9);
    position: absolute;
    right: 1px;
} */



.header .title-secction .carro-all-coonten .section-vinos-head .card-contein{
    height: 270px;
    padding: 7px 5px;
    border: outset 4px white;
    width: 450px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .img-card{
    height: 150px;
    max-height: 150px;
    width: auto;
    float: left;
}



.header .title-secction .carro-all-coonten .section-vinos-head .texts-content-card-shop{
    padding: 10px 0px;
    font-size: .9em;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .title-card{
    font-size: 1em;
    border-bottom: solid 1px;
    padding: 5px 0px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel{
    margin-top: 8px;
    font-weight: 600;
} 
.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel span{
    display: inline;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar{
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    color: #660404;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar:hover{
    background-color: white;
    padding: 10px 0;
    margin: 0 10%;
}

/* total $  */
.header .title-secction .carro-all-coonten .section-vinos-head .total-precio-contein-head{
    max-height: 270px;
    padding: 7px 10px;
    border: outset 1px white;
    width: 450px;
    font-weight: 600;
    color: rgb(64, 58, 58);
}


/* .header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar div{
    align-self: end;
} */

/* .header .title-secction .carro-all-coonten .section-vinos-head .img-card,
.header .title-secction .carro-all-coonten .section-vinos-head #carroHeadShow .img-card {
    height: 150px !important;
    max-height: 150px !important;
    width: auto !important;
} */

/* 
.header .title-secction .carro-all-coonten .section-vinos-head .title-vineria{
    font-size: 0.8em;
}
.header .title-secction .carro-all-coonten .section-vinos-head .card-from{
    font-size: 0.8em;
}
.header .title-secction .carro-all-coonten .section-vinos-head .card-point{
    font-size: 0.8em;
}
*/


/* nav */
.list-main{
    padding: 1% 0%;
    background-color: #C69774
}


/* ========================= 
        CONTENIDO 
========================= */
.contein-all{
    margin: 0 auto;
    width: 95vw;
}
.ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
}
.ul a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

/* =========================
        INDEX
========================= */
.index-contein{
    margin-bottom: 15px;
}

/* slider */
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;

}
.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    list-style: none;
    max-height: 300px;
    width: 100%;
}
.slider img {
    height: 100%;
    width: 100%;  
    object-fit: cover;
    object-position: 0% 50%;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    
    80% {margin-left: -200%;}
    100% {margin-left: -200%;}

}

/*3 Icons*/
.contein-all .tres-icons{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.8em;
}
.contein-all .tres-icons hr{
    border-color: black;
}
.contein-all .tres-icons img{
    margin-top: 1px;
    max-width: 50px;
}
.contein-all .tres-icons li{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* index-shop btn CENTRO*/
.index-shop .btn-shop-index{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.index-shop .btn-shop-index a{
    display: inline;
    border: solid 2px;
    border-radius: 10%;
    padding: 10px;
}

/* index-shop CARRUSEL */
.index-shop .carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 500px;
}

/* carrucel btn  */
.index-shop .carrucel-btn-img{
    display: flex;
    position: absolute;
    top: 110%;
    border-radius: 60%;
    cursor: pointer;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    max-width: 35px;
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.index-shop .carrucel-btn-img:hover {
    background-color: #333333ab;
}
.index-shop .carrucel-right{
    right: 10px;
}
.index-shop .carrucel-left{
    left: 10px;
}
/* carrucel cards */
.index-shop .carrusel .card-contein{
    align-self: center;
    width: 300px;
    flex: 1 0 auto;
}
.index-shop .carrusel .card-contein:hover{
    transform: scale(1.1);
}
.index-shop .carrusel .card-contein *{
    margin: 5px 0px;
}
.index-shop .carrusel .card-from,
.index-shop .carrusel .card-point{
    display: none;
}
.index-shop .carrusel .precio-contein-carrucel{
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.index-shop .carrusel .precio-contein-carrucel span{
    display: inline;
}


.index-shop .carrusel .carrucel-carro-contein{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.index-shop .carrusel .carrucel-carro-contein:hover::after{
    content: "Añadir al carrito";
    margin-left: 10px;
}

.index-shop .carrucel-carro-contein:hover{
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}
.index-shop .carrucel-carro-contein .carro-carrucel-img{
    max-width: 30px;
}


/* LOADING  */
.index-shop .loadin{
    text-align: center;
    margin-top: 3%;
}
.index-shop .loadin-obj{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

/*========================= 
        FOOTER 
================================*/
.footer{
    height: 20%;
    background-color: #C69774;
}

.footer-contein{
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left .derechos{
    margin-top: 15px;
}

.footer-right {
    align-self: end;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-right .fa{
    max-width: 30px;
    max-height: 30px;
}




/* ========================= 
        TEMPLATE 
=========================*/
.card-contein{
    text-align: center;
}
.img-card{
    max-height: 300px;
    min-height: 250px;
}



/* ========================= 
        SHOP 
=========================*/
/* LOADING  */
.contein-shop .slider-shop .loadin{
    text-align: center;
    margin-top: 10%;
}
.contein-shop .slider-shop .loadin-obj{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}
@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

/* NAV VINOS */
.contein-shop .slider-shop .nav-wins{
    /*  */
}
.contein-shop .slider-shop .list-wins{
    padding: 10px;
    background-color: #C69774;
}
/* Contein API */
.contein-shop .slider-shop .contein-primary{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1em;
    padding: 10px 15px;
}

/* cards */
.contein-shop .contein-primary .card-contein{
    align-self: center;
    max-width: 300px;
    flex: 1 0 auto;
}
.contein-shop .contein-primary .card-contein:hover{
    transform: scale(1.1);
}
.contein-shop .contein-primary .card-contein *{
    margin: 5px 0px;
}
.contein-shop .contein-primary .card-from,
.contein-shop .contein-primary .card-point{
    display: none;
}
.contein-shop .contein-primary .precio-contein-carrucel{
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.contein-shop .contein-primary .precio-contein-carrucel span{
    display: inline;
}


.contein-shop .contein-primary .carrucel-carro-contein{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contein-shop .contein-primary .carrucel-carro-contein:hover::after{
    content: "Añadir al carrito";
    margin-left: 10px;
}

.contein-shop .contein-primary .carrucel-carro-contein:hover{
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}
.contein-shop .contein-primary .carrucel-carro-contein .carro-carrucel-img{
    max-width: 30px;
}