* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-family: 'Arvo', serif;
    letter-spacing: 2px;
}

.display-none {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.maxwidth {
    max-width: 1360px;
    margin: 0 auto;
}

body {
    background-color: #d1d0d4;
}

.no-link a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    list-style: none;
}

.display-block {
    display: block;
}

/* ========================= 
        HEADER 
========================= */
.header {
    width: 100%;
    background-color: white;
}

/* title y logo */
.header .title-secction {
    padding: 20px 0;
    display: block;
}

.header .title-secction .logo-and-title {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.header .title-secction .logo-and-title .title {
    padding-top: 1%;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 4.5em;
    display: inline;
    letter-spacing: 10px;
}

/*========================= 
        CARRITO HEAD
================================*/
.header .title-secction .carrito-section-head {
    float: right;
    margin: 20px 10px 0 0;
    gap: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.header .title-secction .carrito-head {
    max-height: 30px;

}

.header .title-secction .carrito-h {
    display: inline;
}

/* Contenedor principal del carrito */
.header .title-secction .carro-all-coonten {
    position: relative;
    z-index: 2;

}

.header .title-secction .carro-all-coonten .section-vinos-head {
    position: absolute;
    right: 1px;
    min-width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgba(195, 195, 195, 0.95);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Card individual */
.header .title-secction .carro-all-coonten .section-vinos-head .card-contein {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header .title-secction .carro-all-coonten .section-vinos-head .img-card {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .texts-content-card-shop {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    font-weight: 550;
    gap: 5px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .title-card {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel {
    margin-top: 5px;
    font-weight: 600;
    color: #444;
}

.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel span {
    display: inline;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar {
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    color: #660404;
    background-color: transparent;
    border: 1px solid #660404;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar:hover {
    background-color: #660404;
    color: #fff;
}

/* Total */
.header .title-secction .carro-all-coonten .section-vinos-head .total-precio-contein-head {
    max-height: 270px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(64, 58, 58);
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header .title-secction .carro-all-coonten .section-vinos-head .cantidad-contein-head {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(95, 35, 35);
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}



/* nav */
.header .list-main {
    font-size: 1em;
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(164, 180, 212, 0.55); */
    /* background-color: #d1d0d4;  BODYYYYYYY*/
    background-color: white;
    /* background-image: linear-gradient(to top, rgba(177, 185, 199, 0.75) 0%, rgba(86, 117, 161, 0.7) 100%); */
    background-image: linear-gradient(to top, #d1d0d4 0%, rgba(86, 117, 161, 0.7) 100%);



}

.header .list-main li {
    flex: 1;
    text-align: center;
    padding: 1% 0;
    transition: 0.5s linear;
}

.header .list-main li a {
    display: block;
}

.header .list-main li:hover {
    font-weight: 550;
    background-color: #92a9d5;
}

.header .ul a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}


/* ========================= 
        CONTENIDO 
========================= */
.contein-all {
    margin: 0 auto;
    width: 95vw;
}


/* =========================
        INDEX
========================= */
.index-contein {
    max-width: 1360px;
    margin-bottom: 15px;
}

/* slider */
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 10s infinite alternate ease;
}

.slider li {
    list-style: none;
    max-height: 300px;
    width: 100%;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    40% {
        margin-left: -100%;
    }

    60% {
        margin-left: -100%;
    }

    80% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }

}

/*3 Icons*/
.contein-all .tres-icons {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.8em;
}

.contein-all .tres-icons hr {
    border-color: black;
}

.contein-all .tres-icons img {
    margin-top: 1px;
    max-width: 50px;
}

.contein-all .tres-icons li {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* index-shop btn CENTRO*/
.index-shop .btn-shop-index {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.index-shop .btn-shop-index a {
    display: inline;
    border: solid 2px;
    border-radius: 10%;
    padding: 10px;
}

/* index-shop CARRUSEL */
.index-shop .carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 500px;
    gap: 20px;
}

/* carrucel btn */
.index-shop .carrucel-btn-img {
    padding: 0 14px;
    font-size: 3em;
    font-weight: 500;
    border-radius: 80px;
    color: white;
    cursor: pointer;
    transition: 0.5s linear;
    background-color: #33333322
}

.index-shop .carrucel-left {
    position: relative;
    bottom: 300px;
}

.index-shop .carrucel-right {
    position: relative;
    bottom: 300px;
    float: right;
}

.index-shop .carrucel-btn-img:hover {
    background-color: #333333ab;
}


/* carrucel cards */
.index-shop .carrusel .card-contein {
    align-self: center;
    width: 300px;
    flex: 1 0 auto;
    transition: 0.5s ease;
}

.index-shop .carrusel .card-contein:hover {
    transform: scale(1.1);
}

.index-shop .carrusel .card-contein * {
    margin: 5px 0px;
}

.index-shop .carrusel .img-card {
    max-height: 250px;
}


.index-shop .carrusel .card-from,
.index-shop .carrusel .card-point {
    display: none;
}

.index-shop .carrusel .precio-contein-carrucel {
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.index-shop .carrusel .precio-contein-carrucel span {
    display: inline;
}


.index-shop .carrusel .carrucel-carro-contein {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.index-shop .carrusel .carrucel-carro-contein:hover::after {
    content: "A침adir al carrito";
    margin-left: 10px;
}



.index-shop .carrucel-carro-contein:hover {
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}

.index-shop .carrucel-carro-contein .carro-carrucel-img {
    max-width: 30px;
}


/* LOADING  */
.index-shop .loadin {
    text-align: center;
    margin-top: 3%;
}

.index-shop .loadin-obj {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

/*========================= 
        FOOTER 
================================*/
.footer {
    padding: 15px 0;
    background-image: linear-gradient(to bottom, #b1b9c7 0%, #67768b 100%);
    color: #fff;
    font-family: Arial, sans-serif;
}

.footer .footer-contein {
    max-width: 1360px;
    width: 95vw;
    margin: 0 auto;
    display: block;
}

.footer .footer-contein .footer-top {
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-contein .footer-top .top-line-left,
.footer .footer-contein .footer-top .top-line-right {
    flex: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
}

.footer .footer-contein .footer-top i {
    margin: 0 10px;
    color: #fff;
    transition: color 0.3s ease;
}

.footer .footer-contein .footer-top i:hover {
    color: #ffd700;
}

.footer .footer-left {
    margin: 20px 0;
    text-align: center;
}

.footer .footer-left .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer .footer-left a {
    padding: 5px 10px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .footer-left a:hover {
    color: #ffd700;
}

.footer .derechos {
    text-align: center;
    padding: 10px 0;
    color: #e0e0e0;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .footer .footer-contein .footer-top {
        /* flex-direction: column; */
    }

    .footer .footer-contein .footer-top .top-line-left,
    .footer .footer-contein .footer-top .top-line-right {
        display: none;
    }

    .footer .footer-left .footer-links {
        flex-direction: row;
    }
}

/* ========================= 
        TEMPLATE 
=========================*/
.card-contein {
    text-align: center;
}

.img-card {
    max-height: 300px;
    min-height: 250px;
}




/* ========================= 
        CONTACTO 
=========================*/


.container-contact {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px 20px;
    margin: 30px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.container-contact .columna {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
}

.container-contact .row-contein:after {
    content: "";
    display: table;
    clear: both;
}

.container-contact .row-contein .contact-map {
    max-width: 100%;
}

.container-contact input,
.container-contact select,
.container-contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.container-contact input[type="submit"] {
    background-color: #04aa6d;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.container-contact input[type="submit"]:hover {
    background-color: #45a049;
    color: whitesmoke;
}

.container-contact label {
    font-weight: bold;
}

.container-contact .icon-contact {
    text-align: center;
    padding: 5vh 0;
    margin-right: 10px;
}

.container-contact .icon-contact .fa {
    margin: 2vw;
    max-width: 40px;
    max-height: 40px;
}

.container-contact .contact-title {
    /*  */
}






/* ========================= 
        SHOP 
=========================*/
/* NAV VINOS */
/* .contein-shop .slider-shop {
    margin: 5px 0;
    font-style: italic;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.contein-shop .slider-shop .list-wins{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.contein-shop .slider-shop .list-wins li{
    padding: 20px 0;
    flex: 1;
    text-align: center;
    transition: 0.2s linear;
    display: block;
}

.contein-shop .slider-shop .list-wins li a{
   display: block;
}

.contein-shop .slider-shop .list-wins li:hover{
    transform: scale(1.2);
}


.contein-shop .slider-shop .list-wins a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
} */

/* Barra de navegaci칩n de vinos */
.nav-wins {
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    margin: 0;
    position: relative;
    /* Asegura que no se solape con otros elementos */
    z-index: 1;
    /* Coloca la barra encima de otros elementos si es necesario */
}

.nav-wins .list-wins {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-wins .list-wins li {
    flex: 1;
    text-align: center;
    /* padding: 10px; */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.nav-wins .list-wins li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

.nav-wins .list-wins li:hover {
    /* background-color: #eaeaea; */
    /* transform: scale(1.1); */
}

.nav-wins .list-wins li a:link,
.nav-wins .list-wins li a:visited {
    color: #333;
}

.nav-wins .list-wins li a:hover {
    color: #660404;
    /* Color destacado al pasar el mouse */
}






/* LOADING  */
.contein-shop .slider-shop .loadin {
    text-align: center;
    margin-top: 10%;
}

.contein-shop .slider-shop .loadin-obj {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Contein API */
.contein-shop .slider-shop .contein-primary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    row-gap: 2em;
    padding: 10px 15px;
}

/* cards */
.contein-shop .contein-primary .card-contein {
    align-self: center;
    max-width: 300px;
    flex: 1 0 auto;
    transition: 0.3s;
}

.contein-shop .contein-primary .card-contein:hover {
    transform: scale(1.05);
}

.contein-shop .contein-primary .card-contein * {
    margin: 5px 0px;
}

.contein-shop .contein-primary .card-from,
.contein-shop .contein-primary .card-point {
    display: none;
}

.contein-shop .contein-primary .precio-contein-carrucel {
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.contein-shop .contein-primary .precio-contein-carrucel span {
    display: inline;
}


.contein-shop .contein-primary .carrucel-carro-contein {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear;
}

.contein-shop .contein-primary .carrucel-carro-contein:hover::after {
    content: "A침adir al carrito";
    margin-left: 10px;
}

.contein-shop .contein-primary .carrucel-carro-contein:hover {
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}

.contein-shop .contein-primary .carrucel-carro-contein .carro-carrucel-img {
    max-width: 30px;
}




/* VINOS OFF */
.vinos-off-contein {
    margin: 0 auto;
    padding: 0 0 10px 0;
    /* border-radius: 50px; */
    /* box-shadow: 1px 10px 100px; */
    /* background-color: rgba(150, 149, 149, 0.3); */
    /* background-color: #d1d0d4; */
}

.vinooff-title {
    text-align: center;
    padding: 1px 0;
    font-size: 2em;
    color: #660404;
}

.vinos-off-contein #vinosEnoff {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}


.vinos-off-contein .vinoEnoff {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    text-align: center;
    font-size: 0.9em;
}

.vinos-off-contein .vinoEnoff .img-vino-off {
    height: 150px;
    width: auto;
    align-self: center;
}

.vinos-off-contein .vinoEnoff .nombre-vino-off {
    max-width: 300px;
    font-weight: 500;
}

.vinos-off-contein .vinoEnoff .vineria-vino-off {
    /* max-width: 100px; */
    font-style: italic;

}

.vinos-off-contein .vinoEnoff .origen-vino-off {
    display: none;
}

.vinos-off-contein .vinoEnoff .rating-vino-off {
    display: none;
}

.vinos-off-contein .vinoEnoff .precio-vino-off {
    color: rgb(97, 45, 45);
}




@media only screen and (max-width: 900px) {
    .header .title-secction .logo-and-title .title {
        padding-top: 0%;
        text-align: left;
        font-size: 3em;
        letter-spacing: 8px;
    }

    /* nav */
    .header .list-main {
        font-size: 0.8em;
    }

    /* CARRITO */
    .header .title-secction .carrito-section-head {
        float: right;
        margin: 40px 10px 0 0;
        gap: 10px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    }

    /*3 Icons*/
    .contein-all .tres-icons {
        margin: 5px 1px;
        font-size: 0.5em;
    }

    .contein-all .tres-icons hr {
        display: none;
    }

    .contein-all .tres-icons img {
        margin-top: 1px;
        max-width: 30px;
    }

    .contein-all .tres-icons li {
        gap: 10px;
    }

    .img-icons {}

    /* ----------SHOP ------------ */

    /* Barra de navegaci칩n de vinos */
    .nav-wins {
        padding: 5px 0;
        z-index: 1;
        width: 95vw;
    }

    .nav-wins .list-wins {
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
    }

    .nav-wins .list-wins li {
        flex: 0;
        padding: 3px;
        transition: none;
    }

    .nav-wins .list-wins li a {
        text-decoration: none;
        font-size: 0.6rem;
        font-weight: 300;
    }

    .nav-wins .list-wins li:hover {
        transform: none;
    }


}