*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-family: 'Arvo', serif;
    letter-spacing: 2px;
}

.display-none{
    display: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.maxwidth{
    max-width: 1360px;
    margin: 0 auto;
}
body{
    background-color: #d1d0d4;
}

.no-link a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    list-style: none;
}
.display-block{
    display: block;
}
/* ========================= 
        HEADER 
========================= */
.header{
    width: 100%;
    background-color: white;
}
/* title y logo */
.header .title-secction{
    padding: 10px 0;
    display: block;
}
.header .title-secction .logo-and-title{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.header .title-secction .logo-and-title .title{
    padding-top: 1%;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 4.5em;
    display: inline;
    letter-spacing: 10px;
}


/* CARRITO HEAD  */
.header .title-secction .carrito-section-head{
    float: right;
    margin: 50px 10px 0 0;
    gap: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}



 /* COMPRAS  */
.header .title-secction .carro-all-coonten{
    position: relative;
    top: 10px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .cantidad-contein-head{
    max-height: 270px;
    padding: 7px 10px;
    border: outset 1px white;
    width: 450px;
    font-weight: 600;
    color: rgb(95, 35, 35);
}

.header .title-secction .carro-all-coonten .section-vinos-head{
    position: absolute;
    float: left;
    right: 1px;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(195, 195, 195, 0.95);
}

.header .title-secction .carro-all-coonten .section-vinos-head .card-contein{
    min-height: 300px;
    padding: 7px 5px;
    border: outset 4px white;
    width: 450px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .img-card{
    height: 150px;
    max-height: 150px;
    width: auto;
    float: left;
}


.header .title-secction .carro-all-coonten .section-vinos-head .texts-content-card-shop{
    padding: 10px 0px;
    font-size: .9em;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .title-card{
    font-size: 1em;
    border-bottom: solid 1px;
    padding: 5px 0px;
}

.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel{
    margin-top: 8px;
    font-weight: 600;
} 
.header .title-secction .carro-all-coonten .section-vinos-head .precio-contein-carrucel span{
    display: inline;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar{
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    color: #660404;
    transition: .5s linear;
}

.header .title-secction .carro-all-coonten .section-vinos-head .btn-carro-eliminar:hover{
    background-color: white;
    padding: 10px 0;
    margin: 0 10%;
}

/* total $  */
.header .title-secction .carro-all-coonten .section-vinos-head .total-precio-contein-head{
    max-height: 270px;
    padding: 7px 10px;
    border: outset 1px white;
    width: 450px;
    font-weight: 600;
    color: rgb(64, 58, 58);
}

/* nav */
.header .list-main{
    font-size: 1em;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
    background-image: linear-gradient(to top, #d1d0d4 0%, rgba(86, 117, 161, 0.7) 100%);
}

.header .list-main li{
    flex: 1;
    text-align: center;
    padding: 1% 0;
    transition: 0.5s linear;
}
.header .list-main li a{
    display: block;
}

.header .list-main li:hover{
    font-weight: 550;
    background-color: #92a9d5;
}
.header .ul a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}


/* ========================= 
        CONTENIDO 
========================= */
.contein-all{
    margin: 0 auto;
    /* width: 95vw; */
}


/* =========================
        INDEX
========================= */
.index-contein{
    max-width: 1360px;
    margin-bottom: 15px;
}

/* slider */
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    /* border-radius: 0 0 20px 20px; */
    box-shadow: black 1px 3px 10px;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 10s infinite alternate ease;
}

.slider li {
    list-style: none;
    max-height: 300px;
    width: 100%;
}
.slider img {
    height: 100%;
    width: 100%;  
    object-fit: cover;
    object-position: 0% 50%;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    
    80% {margin-left: -200%;}
    100% {margin-left: -200%;}

}

/*3 Icons*/
.contein-all .tres-icons{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.8em;
}
.contein-all .tres-icons hr{
    border-color: black;
}
.contein-all .tres-icons img{
    margin-top: 1px;
    max-width: 50px;
}
.contein-all .tres-icons li{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* index-shop btn CENTRO*/
.index-shop .btn-shop-index{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.index-shop .btn-shop-index a{
    display: inline;
    border: solid 2px;
    border-radius: 10%;
    padding: 10px;
}

/* index-shop CARRUSEL */
.index-shop .carrusel{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 500px;
    gap: 20px;
    max-width: 95vw;
}

/* carrucel btn */
.index-shop .carrucel-btn-img{
    padding: 0 14px;
    font-size: 3em;
    font-weight: 500;
    border-radius: 80px;
    color: white;
    cursor: pointer;
    transition: 0.5s linear;
    background-color: #33333322
}

.index-shop .carrucel-left{
    position: relative;
    bottom: 300px;
    left: 15px;
}
.index-shop .carrucel-right{
    position: relative;
    bottom: 300px;
    float: right;
    right: 15px;
}

.index-shop .carrucel-btn-img:hover {
    background-color: #333333ab;
}


/* carrucel cards */
.index-shop .carrusel .card-contein{
    align-self: center;
    width: 300px;
    flex: 1 0 auto;
    transition: 0.5s ease;
}
.index-shop .carrusel .card-contein:hover{
   transform: scale(1.1);
}
.index-shop .carrusel .card-contein *{
    margin: 5px 0px;
}

.index-shop .carrusel .img-card{
    max-height: 250px;
}


.index-shop .carrusel .card-from,
.index-shop .carrusel .card-point{
    display: none;
}
.index-shop .carrusel .precio-contein-carrucel{
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.index-shop .carrusel .precio-contein-carrucel span{
    display: inline;
}


.index-shop .carrusel .carrucel-carro-contein{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.index-shop .carrusel .carrucel-carro-contein:hover::after{
    content: "Añadir al carrito";
    margin-left: 10px;
}



.index-shop .carrucel-carro-contein:hover{
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}
.index-shop .carrucel-carro-contein .carro-carrucel-img{
    max-width: 30px;
}


/* LOADING  */
.index-shop .loadin{
    text-align: center;
    margin-top: 3%;
}
.index-shop .loadin-obj{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

/*========================= 
        FOOTER 
================================*/
.footer{
    padding: 15px 0;
    background-image: linear-gradient(to bottom, #b1b9c7 0%, #67768b 100%);
}
.footer .footer-contein{
    max-width: 1360px;
    width: 95vw;
    margin: 0 auto;
    display: block;
}

.footer .footer-contein .footer-top {
    text-align: center;
    padding: 5px;
}
.footer .footer-contein .footer-top .top-line-left{
    float: left;
    border-bottom: black solid 1px;
    width: 33vw;
    position: relative;
    top: 10px;
    max-width: 400px;
}

.footer .footer-contein .footer-top .top-line-right{
    float: right;
    border-bottom: black solid 1px;
    width: 33vw;
    position: relative;
    top: 10px;
    max-width: 400px;
}


.footer .footer-contein .footer-top i{
    margin: 0 10px;
}

.footer .footer-left{
    margin: 15px 0;
}

.footer .footer-left .footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.footer .footer-left a{
    padding: 5px 1px;
    font-size: 1.2em;

}


.footer .derechos{
    display: block;
    text-align: center;
    padding: 5px 0;
    color: rgb(72, 69, 69);
}

/* ========================= 
        TEMPLATE 
=========================*/
.card-contein{
    text-align: center;
}
.img-card{
    max-height: 300px;
    min-height: 250px;
}



/* ========================= 
        SHOP 
=========================*/

.contein-shop .slider-shop {
    margin: 5px 0;
    font-style: italic;
    min-height: 250px;
    padding-top: 30px;
}

/* NAV WINS */
.contein-shop .slider-shop .nav-wins{
    margin: 0;
    float: left;
    width: 150px;
}
.contein-shop .slider-shop .list-wins{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contein-shop .slider-shop .list-wins li{
    padding: 10px 0;
}

.contein-shop .slider-shop .list-wins li a{
   display: block;
}

.contein-shop .slider-shop .list-wins li:hover{

}

.contein-shop .slider-shop .list-wins a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
/* LOADING  */
.contein-shop .slider-shop .loadin{
    text-align: center;
    margin-top: 10%;
}
.contein-shop .slider-shop .loadin-obj{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}
@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Contein API */
.contein-shop .slider-shop .contein-primary{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1em;
    row-gap: 2em;
    border-left: 1px solid;
    padding: 10px 15px;

}

/* cards */
.contein-shop .contein-primary .card-contein{
    align-self: center;
    max-width: 300px;
    flex: 1 0 auto;
    transition: 0.3s;
}
.contein-shop .contein-primary .card-contein:hover{
    transform: scale(1.05);
}
.contein-shop .contein-primary .card-contein *{
    margin: 5px 0px;
}

.contein-shop .contein-primary .card-contein .img-card{
    height: 150px;
}

.contein-shop .contein-primary .card-from,
.contein-shop .contein-primary .card-point{
    display: none;
}
.contein-shop .contein-primary .precio-contein-carrucel{
    margin: 0 auto;
    font-weight: 600;
    color: #660404;
}

.contein-shop .contein-primary .precio-contein-carrucel span{
    display: inline;
}


.contein-shop .contein-primary .carrucel-carro-contein{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear;
}
.contein-shop .contein-primary .carrucel-carro-contein:hover::after{
    content: "Añadir al carrito";
    margin-left: 10px;
}

.contein-shop .contein-primary .carrucel-carro-contein:hover{
    background-color: #e27171ad;
    font-size: 1.2em;
    padding: 2px;
}
.contein-shop .contein-primary .carrucel-carro-contein .carro-carrucel-img{
    max-width: 30px;
}




/* ========================= 
        CONTACTO 
=========================*/


.container-contact {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px 20px;
    margin: 30px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
    
.container-contact .columna {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
}

.container-contact .row-contein:after {
    content: "";
    display: table;
    clear: both;
}

.container-contact .row-contein .contact-map{
    max-width: 100%;
}

.container-contact input,
.container-contact select,
.container-contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.container-contact input[type="submit"] {
    background-color: #04aa6d;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.container-contact input[type="submit"]:hover {
    background-color: #45a049;
    color: whitesmoke;
}

.container-contact label {
    font-weight: bold;
}

.container-contact .icon-contact {
    text-align: center;
    padding: 5vh 0;
    margin-right: 10px;
}

.container-contact .icon-contact .fa{
    margin: 2vw;
    max-width: 40px;
    max-height: 40px;
}

.container-contact .contact-title {
/*  */
}


@media only screen and (max-width: 900px) {
    
}
    






/* VINOS OFF */
.vinos-off-contein{
    margin: 0 auto;
    background-color: #929CC7;
    padding: 30px 0;
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.54);
    border-radius: 0 0 100px;

}
.vinooff-title{
    text-align: center ;
    padding: 10px 0;
    font-size: 1.4em;
    color: #660404;
}
.vinos-off-contein #vinosEnoff{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}


.vinos-off-contein .vinoEnoff{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    text-align: center;
    font-size: 0.9em;
}

.vinos-off-contein .vinoEnoff .img-vino-off{
    height: 200px;
    width: 50px;
    align-self: center;
}

.vinos-off-contein .vinoEnoff .nombre-vino-off{
    max-width: 300px;
    font-weight: 500;
}

.vinos-off-contein .vinoEnoff .vineria-vino-off{
    /* max-width: 100px; */
    font-style: italic;

}
.vinos-off-contein .vinoEnoff .origen-vino-off{
    display: none;
}
.vinos-off-contein .vinoEnoff .rating-vino-off{
    display: none;
}
.vinos-off-contein .vinoEnoff .precio-vino-off{
    color: rgb(97, 45, 45);
}
